/** CSS STYLE **/

.hello {
  display: block;

  color: #fff;
}

.header {
  width: 1440px;
  height: 215px;
  background-color: #FE8A02;
}

.content {
  width: 1440px;
  height: 1000px;
  background-color: #FFFFFF;
}

.footer {
  width: 1440px;
  height: 581px;
  background-color: #42413C;
}
